header {
    background-image: url("project-header.jpg");
    background-size: 100% 100%;
}


.bottom-parent{
    display: grid;
}

.left-parent{
    display: grid;
    background-image: linear-gradient(to bottom, #212529, rgb(7, 7, 7) );
    border-radius: 15px;
}

@media screen and (max-width: 768px) {
    .left-parent, .top-h5 {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .bottom-parent, .bottom-h5 {
        display: none;
    }
    .left-parent {
        display: flex;
        flex-direction: column;
        min-height: 75vh;
    }
}