header {
    background-image: url("project-header.jpg");
    background-size: 100% 100%;
}

.bottom-parent{
    display: grid;
}

.left-parent{
    display: grid;
}

@media screen and (max-width: 768px) {
    .left-parent, .top-h5 {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .bottom-parent, .bottom-h5 {
        display: none;
    }
}